<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
	RewriteCond %{REQUEST_URI} !^/api/ 
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ /api/$1 
	#RewriteRule ^ index.php [L]
	RewriteRule ^(/)?$ api/index.php [L] 
</IfModule>